bods-client==0.12.0
convertbng==0.7.2
geopandas==0.14.2
ipykernel
naptan==0.2.1
numpy==1.23.2
pandas==2.0.3
polars-lts-cpu==0.19.19
pre-commit
pyarrow==14.0
pytest
pytest-pythonpath
pytest-mock
pytest-randomly
Rtree==1.1.0
python-dotenv
coverage
gtfs-realtime-bindings>=0.0.7
